WorkerProcess/Service References/DuplexWCFServiceClient/Microsoft.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" />
  <xs:element name="RequestWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" minOccurs="0" name="RequestWorkResult" nillable="true" type="q1:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" minOccurs="0" name="processError" type="q2:WorkerError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" minOccurs="0" name="processProgress" nillable="true" type="q3:WorkerProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" minOccurs="0" name="RequestStateResult" type="q4:WorkerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>