WorkerProcess/Service References/DuplexWCFServiceClient/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DuplexWCFService.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplexWCFService_RequestWork_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestWork" />
  </wsdl:message>
  <wsdl:message name="IDuplexWCFService_RequestWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexWCFService_ReportError_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="IDuplexWCFService_ReportProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportProgress" />
  </wsdl:message>
  <wsdl:message name="IDuplexWCFService_RequestState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RequestState" />
  </wsdl:message>
  <wsdl:message name="IDuplexWCFService_RequestState_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RequestStateResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDuplexWCFService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestWork">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/RequestWork" message="tns:IDuplexWCFService_RequestWork_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/RequestWorkResponse" message="tns:IDuplexWCFService_RequestWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportError">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/ReportError" message="tns:IDuplexWCFService_ReportError_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportProgress">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/ReportProgress" message="tns:IDuplexWCFService_ReportProgress_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestState">
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/RequestState" message="tns:IDuplexWCFService_RequestState_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDuplexWCFService/RequestStateResponse" message="tns:IDuplexWCFService_RequestState_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>